@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.loginContainer {
  min-height: 100vh;
  @include flex-center();
  background-color: $light-bg-primary;
}

.loginBox {
  @include card-container;
  background-color: $background-paper;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-lg;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  color: $text-primary;
  font-size: $font-size-xl;
  margin-bottom: $spacing-sm;
}

.subtitle {
  color: $text-secondary;
  margin-bottom: $spacing-xl;
}

.googleButton {
  @include flex-center();
  margin-top: $spacing-lg;
} 