@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: $spacing-lg;
}

.title {
  font-size: $font-size-xl;
  color: $text-primary;
  margin-bottom: $spacing-lg;
}

.form {
  @include card-container;
}

.formGroup {
  @include form-group;
}

.formActions {
  @include flex-container(row, $spacing-md);
  justify-content: flex-end;
  margin-top: $spacing-lg;
}

.cancelButton {
  @include secondary-button;
}

.saveButton {
  @include action-button($primary-color);
} 