@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light-bg-primary;
  color: $text-secondary;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.content {
  display: flex;
  flex: 1;
  position: relative;
  padding-top: 15px;
  min-height: calc(100vh - #{$navbar-height});
  width: 100%;
  margin-left: 40px;
}

.main {
  flex: 1;
  padding: 0;
  transition: all $transition-duration ease-in-out;
  margin-left: $sidebar-collapsed-width;
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$sidebar-collapsed-width});
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  
  &.mainShift {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
  }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    > * {
      width: 100%;
    }
  }
}

.toolbar {
  min-height: $navbar-height;
  width: 100%;
}

// Responsive adjustments
@include respond-to(md) {
  .main {
    padding: 0;
    margin-left: $sidebar-collapsed-width;
    width: calc(100% - #{$sidebar-collapsed-width});
    
    &.mainShift {
      margin-left: $sidebar-width;
      width: calc(100% - #{$sidebar-width});
    }

    .container {
      padding: 0;
    }
  }
}

@include respond-to(sm) {
  .content {
    padding-top: 15px;
  }

  .main {
    padding: 0;
    margin-left: 0;
    width: 100%;
    
    &.mainShift {
      margin-left: 0;
      width: 100%;
    }

    .container {
      padding: 0;
    }
  }
} 