@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.layout {
  @include flex-container(column, 0);
  min-height: 100vh;
  background-color: $light-bg-primary;
  color: $text-secondary;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.content {
  @include flex-container(row, 0);
  flex: 1;
  position: relative;
  padding-top: 15px;
  min-height: calc(100vh - #{$navbar-height});
  width: 100%;
  margin-left: 40px;
}

.main {
  @include sidebar-layout();
  flex: 1;
  padding: 0;
  @include flex-container(column, 0);
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  
  &.mainShift {
    @include sidebar-layout($sidebar-width, $sidebar-width);
  }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
    @include flex-container(column, 0);
    flex: 1;

    > * {
      width: 100%;
    }
  }
}

.toolbar {
  min-height: $navbar-height;
  width: 100%;
}

// Responsive adjustments
@include respond-to(md) {
  .main {
    padding: 0;
    @include sidebar-layout();
    
    &.mainShift {
      @include sidebar-layout($sidebar-width, $sidebar-width);
    }

    .container {
      padding: 0;
    }
  }
}

@include respond-to(sm) {
  .content {
    padding-top: 15px;
  }

  .main {
    padding: 0;
    margin-left: 0;
    width: 100%;
    
    &.mainShift {
      margin-left: 0;
      width: 100%;
    }

    .container {
      padding: 0;
    }
  }
} 