@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.inputContainer {
  @include flex-container(column, $spacing-xs);
  width: 95%;
}

.label {
  @include label-base;
}

.required {
  color: $error-color;
}

.input {
  @include input-base;
}

textarea.input {
  resize: vertical;
  min-height: 100px;
}

.footer {
  @include flex-container(row, 0);
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.counter {
  color: $text-secondary;
  
  &.limit {
    color: $warning-color;
  }
}

.errorMessage {
  color: $error-color;
  font-size: 0.875rem;
} 